body {
  scroll-behavior: smooth;
}

pre {
  margin-bottom: 1rem;
  white-space: pre;
}
.columns {
  position: relative;
}
#localNav {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow: scroll;
  background-color: white;
}
main {
  scroll-margin-top: 66px;
}

@media (max-width: 1023px) {
  #localNav {
    display: none;
    left: 0;
  }
  #localNav.is-active {
    display: block;
  }
}
@media (min-width: 1024px) {
  main {
    position: absolute;
    right: 0;
  }
}
.code-ng {
}
