pre {
  display: block;
  background-color: #363636;
  color: white;
  margin-bottom: 1rem;
  padding: 1.25rem;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(51 51 51 / 10%),
    0 0px 0 1px rgb(51 51 51 / 2%);
}

.code-ng {
}
